[Unit]
Description=WIRED Syncing
After = network.target
[Service]
ExecStart= sudo -u orangepi python3 /home/orangepi/Desktop/SHELF3/WIRED-syncing.py
Restart = always
[Install]
WantedBy=multi-user.target
