[Unit]
Description=WIRED Infrared CSV
After = network.target
[Service]
ExecStart= sudo -u pi python3 /home/pi/SHELF3/WIRED-logging-Infrared-CSV.py
Restart = always
RestartSec=60
[Install]
WantedBy=multi-user.target
