[Unit]
Description=WIRED Reolink1
After = network.target
[Service]
ExecStart= sudo -u orangepi python3 /home/orangepi/Desktop/SHELF3/WIRED-logging-Reolink1.py
Restart = always
[Install]
WantedBy=multi-user.target
