[Unit]
Description=WIRED Infrared JPG
After = network.target
[Service]
ExecStart= sudo -u orangepi python3 /home/orangepi/Desktop/SHELF3/WIRED-logging-Infrared-JPG.py
Restart = always
[Install]
WantedBy=multi-user.target
